body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.calculator {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  text-align: right;
  box-shadow: 0 0px 5px rgba(255, 126, 126, 0.803);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s;
  color: #333;
}

button:hover {
  background-color: #ff7f0e;
  scale: 1.05;
  box-shadow: 0 0px 5px #ff7e7ecd;
}

button:active {
  transform: translateY(2px);
}

.operator {
  background-color: #ff7f0e;
  color: #fff;
}

.delete {
  background-color: #dc3545;
  color: #fff;
}
.delete:hover {
  background-color: #dc3545;
  scale: 1.05;
  box-shadow: 0 0px 5px #dc3545;
}
.clear {
  background-color: #28a745;
  color: #fff;
}
.clear:hover {
  background-color: #28a745;
  scale: 1.05;
  box-shadow: 0 0px 5px #30e85b;
}

.equal {
  background-color: #007bff;
  color: #fff;
  grid-column: span 3;
}
.equal:hover {
  background-color: #007bff;
  scale: 1.05;
  box-shadow: 0 0px 5px #007bff;
}
